.report-container {
    padding: 40px;
    .right {
        max-height: 100vh;
        max-width: 100%;
        margin-left: 20rem;
    }
}


@media only screen and (max-width: 767px) {
    :host ::ng-deep {
        .report-container {
            .left {
                display: none;
            }
            padding: 20px;
            .right {
                margin-left: 0;
                .view-container {
                    display: none;
                    flex-direction: column;
                    margin-top: 20px;
                    justify-content: space-between;
                    tf-card {
                        cursor: pointer;
                    }
                    tf-card.clicked {
                        background: aliceblue;
                    }
                }
        
                .exercises {
                    margin-top: 20px;
                }
                .floating-action-button {
                    position: relative;
                    height: 200px;
                    .p-speeddial-quarter-circle {
                        &.p-speeddial-direction-down-right {
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
            
            }   
        }
    }
}