<nav class="navbar">
  <ul>
    <li>
      <a
        routerLink="/"
        style="text-decoration: none; color: black"
        class="font-medium"
        navlink
        >
        <i class="pi pi-heart"></i>
        </a
      >
    </li>
    <li>
      <a
        class="font-medium"
        routerLink="/workout"
        style="text-decoration: none; color: black"
        >
        <i class="pi pi-folder"></i>
        </a
      >
    </li>
    <li>
      <a
        class="font-medium"
        routerLink="/food"
        style="text-decoration: none; color: black"
        >
        <i class="pi pi-book"></i>
        </a
      >
    </li>
  </ul>
</nav>
