.workout-container {
    padding: 40px;
    .right {
        margin-left: 20rem;
    }
    .exercises {
        margin-top: 50px;
        margin-left: 20rem;

    }
}

// media query smarthphone

@media only screen and (max-width: 767px) {
    :host ::ng-deep {
        .workout-container {
            .left {
                display: none;
            }
            padding: 20px;
            .right {
                margin-left: 0;
                .exercises {
                    margin-left: 0;
                }
            }
        }
    }
}