.login-page-container {
    padding: 40px;
    display: flex;
    .login-page-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        .login-page-upper {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        tf-google-button {
            width:100%;
        }
    }
    .login-page-right {
        flex: 1;
        border-radius: 20px;
        img {
            width: 100%;
            border-radius: 20px;
        }
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacità del 50% */
    z-index: 1000; /* Assicura che sia sopra a tutti gli altri elementi */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    border: 4px solid #f3f3f3; /* Grigio chiaro */
    border-top: 4px solid #3498db; /* Blu */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media (max-width: 767px){
    .login-page-right {
        display: none;
    }
}