<div class="login-page-container">
    <div class="login-page-left">
        <div class="login-page-upper">
            <h1>
                Trainflow <br> il tuo progresso
            </h1>
            <span>
                Accedi al tuo account per continuare
            </span>
        </div>
        <div class="login-page-down" style="width: 180px;">
            <asl-google-signin-button type="standard"></asl-google-signin-button>
        </div>
    </div>
    <div class="login-page-right">
        <img src="../../../assets/b8dad6f48aab38a3ce19c44f248c7cd7.png" alt="login-page-image">
    </div>
</div>

<div class="loading-overlay" *ngIf="loading">
    <div class="loader"></div>
  </div>
  